@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255);
  background-color: #1b1426;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0 260px 100px 260px;
  position: relative; 
  padding-top: 5%;
  overflow-x: hidden;
}
body::-webkit-scrollbar, .none-scrollbar-card::-webkit-scrollbar{
  display: none;
}

.no-scroll {
  overflow: hidden;
}
@media (min-width: 300px) and (max-width: 768px){
  body{
    padding: 5% 10px 100px 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  body{
    padding: 5% 100px 100px 100px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px){
  body{
    padding: 0 160px 100px 160px;
    padding-top: 5%;
  }
}
@media (min-width: 768px) and (max-width: 1280px){
  @keyframes blink-shadow-opacity {
    0%, 100% {
      box-shadow:
        0px 4px 20px 50px rgba(85, 45, 138, 0.01),
        0px 0px 1px 25px rgba(186, 134, 255, 0.05),
        0px 0px 1px 10px rgba(186, 134, 255, 0.1);
    }
    33% {
      box-shadow:
        0px 4px 20px 50px rgba(85, 45, 138, 0.1),
        0px 0px 1px 25px rgba(186, 134, 255, 0.5),
        0px 0px 1px 10px rgba(186, 134, 255, 0.3);
    }
    66% {
      box-shadow:
        0px 4px 20px 50px rgba(85, 45, 138, 0.3),
        0px 0px 1px 25px rgba(186, 134, 255, 0.2),
        0px 0px 1px 10px rgba(186, 134, 255, 0.6);
    }
  }
}


@layer utilities {
  @keyframes show {
    from {
      opacity: 0;
      transform: translateY(120px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-show {
    animation: show 10s ease-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
    
  }

  @keyframes floating {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes blink-shadow-opacity {
    0%, 100% {
      box-shadow:
        0px 4px 20px 70px rgba(85, 45, 138, 0.01),
        0px 0px 1px 45px rgba(186, 134, 255, 0.05),
        0px 0px 1px 20px rgba(186, 134, 255, 0.1);
    }
    33% {
      box-shadow:
        0px 4px 20px 70px rgba(85, 45, 138, 0.1),
        0px 0px 1px 45px rgba(186, 134, 255, 0.5),
        0px 0px 1px 20px rgba(186, 134, 255, 0.3);
    }
    66% {
      box-shadow:
        0px 4px 20px 70px rgba(85, 45, 138, 0.3),
        0px 0px 1px 45px rgba(186, 134, 255, 0.2),
        0px 0px 1px 20px rgba(186, 134, 255, 0.6);
    }
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
  
  .animate-typing {
    display: inline-block;
    animation: typing 3s steps(20) infinite alternate, blink 1s infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid white;
  }

  @keyframes transform-social {
    0% {
      transform: translateY(-500px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}