@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #1b1426;
}

body {
  margin: 0 260px 0 260px;
  position: relative; 
  padding-top: 5%;
}

